.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 200;
  background: var(--primary-main);
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  max-width: 100vw;
  overflow: hidden;
}
.menu--open {
  top: 0;
}
.close-button-container {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 20px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 600px) {
  .close-button-container {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 25px;
  }
}
.close-button-container__button {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: transparent;
}
.close-button-container:focus-within,
.close-button-container:hover {
  transform: scale(1.1);
}
.close-button-container__button:focus {
  outline-offset: 3px;
  outline-color: var(--secondary-light);
}
.menu__nav {
  list-style: none;
  padding: 100px 0;
  width: max-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.menu__nav-link {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  transition: all 0.2s ease-in-out;
}

.menu__nav-link:focus {
  outline-color: var(--secondary-light);
  outline-offset: 0;
}

.menu__nav-link {
  color: #ffffff;

  font-size: 24px;
  font-family: "IM Fell Double Pica", serif;
  display: block;
  margin: 0;

  transition: all 0.3s ease-in-out;
}

.menu__nav-link:hover {
  background: var(--primary-light);
}

.menu__nav-link {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .menu__nav-link {
    font-size: 38px;
  }
}
@media (min-width: 900px) {
  .menu {
    background: transparent;
    position: fixed;
    height: fit-content;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid var(--secondary-extra-light);
  }
  .menu__nav {
    padding: 1em 0;

    width: max-content;
    justify-content: flex-end;

    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-right: 100px;
  }
  .menu__nav-link {
    font-size: 1rem;
    color: var(--secondary-dark);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
  }
  .menu__nav-link:hover,
  .menu__nav-link:focus {
    outline: none;
    background: unset;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  .menu__nav-link:focus {
    outline: none;
  }
  .close-button-container {
    display: none;
  }
  .menu + main {
    margin-top: 60px;
  }
}
