.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: 668;

  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  max-width: 100vw;
  overflow: hidden;
    background: var(--translucent-background);

}
.menu--open {
  left: 0;
}
.menu__close-btn {
  position: relative;
  float: right;

  top: 1rem;
  right: 1rem;

  padding: 0;
  background: transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  cursor: pointer;

  border: transparent;
}

.menu__close-btn:focus {
  outline-offset: 2px;
  outline-color: var(--font-color);
}
.menu__nav {
  list-style: none;
  padding: 80px 0;
  width: max-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  width: 100%;
}
.menu__nav-link {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 1px #000000;
}

.menu__nav-link:focus {
  outline-color: var(--font-color);
  outline-offset: 0;
}

.menu__nav-link {
  color: var(--font-color);

  font-size: 24px;
  font-family: "IM Fell Double Pica", serif;
  display: block;
  margin: 0;

  transition: all 0.3s ease-in-out;
}

.menu__nav-link:hover {
  background: var(--high-contrast-color);
}

.menu__nav-link {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .menu__nav-link {
    font-size: 38px;
  }
}
@media (min-width: 900px) {
  .menu {
    background: transparent;
    position: fixed;
    height: fit-content;
    left: 0;
    background: var(--translucent-background);

    box-shadow: 0px 1px 5px rgb(153 153 153 / 25%);
  }
  .menu__nav {
    padding: 1em 0;

    width: max-content;
    justify-content: flex-end;

    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding-right: 2rem;
  }
  .menu__nav-link {
    font-size: 1rem;
    color: var(--font-color);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    text-shadow: none;
  }
  .menu__nav-link:hover,
  .menu__nav-link:focus-visible ,.menu__nav-link--active{
    text-decoration: 2px solid underline;
    text-underline-offset: 2px;
    background: transparent;
  }

  .menu__nav-link:focus {
    outline: none;
  }
  .menu__close-btn {
    display: none;
  }
  .menu + main {
    margin-top: 60px;
  }
}
