@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
             order: 2;
                   
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
  order: 1;
    
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
             order: 1;
               
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
             opacity: 0;
             order: 2;
         
  }
}
.tech-link {
  transition: all 1s ease-in-out;
   position: relative;

animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  outline-color: var(--font-color);
  outline-offset: 3px;
}
.tech-link--hidden{
  animation: scale-down-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.tech-link__figure {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 80px;
  min-height: 80px;
  margin: 0;
  padding-top: 1rem;

  justify-content: center;
  display: flex;
  height: min-content;
  text-align: center;
}
.tech-link svg {
  transition: all 0.3s ease-in-out;
}
.tech-link__figcaption {

  margin: 1rem auto;
  font-size: 14px;
  font-family: "IM Fell Double Pica", serif;

}
.tech-link:hover:after {
  content: "◥";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--primary-main);
}

.tech-link:hover svg {
  transform: scale(1.15);
}
