.menu-btn {
  margin-left: auto;
  z-index: 50;
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  font-size: 22px;
  z-index: 500;
  background: transparent;
  border: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 3px 6px;
  background: var(--secondary-light);
  border-radius: 50%;
}

.menu-btn:focus {
  outline-offset: 0.5rem;
  outline-color: var(--secondary-light);
}
@media (min-width: 900px) {
  .button-container {
    display: none;
  }
}
