.menuBtn {
  top: 16px;
  right: 16px;
  width: 26px;
  height: 30px;
  margin-left: auto;
  width: fit-content;
  z-index: 50;
  position: fixed;
}
.menuBtn button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: transparent;
  z-index: 10;
  cursor: pointer;
}
.menuBtn button:focus {
  outline-offset: 0.5rem;
  outline-color: var(--secondary-light);
}
@media (min-width: 900px) {
  .menuBtn {
    display: none;
  }
}
