.bar {
  display: flex;

  position: fixed;

  bottom: 0;

  z-index: 500;
  gap: 2px;
  flex-direction: row;
}

.bar__link {
  padding: 10px 0;
  transition: all 0.5s ease-out;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  width: 40px;
  display: flex;
  transform: scale(0.8);
  justify-content: center;
  align-items: center;
}

.bar__link:focus {
  outline-color: var(--secondary-light);
  outline-offset: 1px;
  opacity: 1;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.instagram {
  background: #125688;
  color: white;
}

.reddit {
  background: #ff5700;
  color: white;
}
@media (min-width: 768px) {
  .bar {
    left: 0;
    margin-top: 15%;
    top: 0;
    z-index: 100;

    flex-direction: column;
  }

  .bar__link {
    transform: unset;
    border-radius: 0;
  }
  .bar__link:hover,
  .bar__link:focus {
    transform: unset;
    opacity: 0.8;
  }
}
