.TechsFilterBar {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--light-text-contrast);
  margin-top: 30px;
  max-width: max-content;
  padding: 0 1rem;
  border-radius: 12px;
}
.TechsFilterBar > div {
  width: 120px;
}

.techsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 0;
  margin-top: 2rem;
  column-gap: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.techFigure {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: 0;
  padding-top: 1rem;
  height: min-content;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.techFigure svg {
  transition: all 0.3s ease-in-out;
}
.techFigure figcaption {
  margin: 1rem auto;
  font-size: 14px;
  font-weight: 600;
}
.techFigure:hover:after {
  content: "◥";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--primary-main);
}
.techsContainer a:focus-within {
  outline-color: var(--secondary-light);
  outline-offset: 3px;
}

.techFigure:hover svg,
.techsContainer:focus-within svg {
  transform: scale(1.15);
}
.halfVisible {
  opacity: 0.4;
}
