.filter-bar {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--high-contrast-color);
  
  margin-top: 30px;
  max-width: max-content;
  padding: 0 1rem;
  border-radius: 12px;

}
.filter-bar__filter {
  width: 130px;
}

.tech-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 0;
  margin-top: 2rem;
  column-gap: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
