.projectCard {
  width: 100%;
  max-width: 320px;
  padding: 12px;
  transition: all 0.5s ease-in-out;
}
.projectCard:hover,
.projectCard:focus-within {
  transform: translateY(-8px);
}
.projectCard p {
  margin: 8px 0;
}
.projectCard p,
.projectCard span,
.projectCard b {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
.projectCard h3 {
  margin-bottom: 16px;
  text-transform: capitalize;
}
.projectCard h4 {
  margin-bottom: 8px;
}
.projectImagesWrapper {
  width: 100%;
  height: 200px;

  margin-bottom: 8px;
}
.projectCardBtn {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}
