.projectCard {
  width: 100%;

  transition: all 0.5s ease-in-out;
}

.projectCard:hover .content,
.projectCard:focus-within .content {
  transform: scale(1);
  opacity: 1;
}
.projectCard p {
  margin: 8px 0;
}
.projectCard p,
.projectCard span,
.projectCard b {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.projectImagesWrapper {
  width: 100%;
  height: 230px;

  position: relative;
}
.content {
  position: absolute;
  z-index: 40;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: brightness(0.2);
  padding: 2rem;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}
.projectCard .content h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-main);
  text-transform: capitalize;
}
.content p {
  color: #fff;
}
.content .projectCardBtn {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.content .projectCardBtn a:focus {
  outline: 2px solid var(--secondary-light);
  outline-offset: 3px;
  border-radius: 8px;
}
