.bannerContainer {
  padding: 0 20px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.callToActionBanner {
  margin: 10px auto 20px;
  width: inherit;
  background: var(--light-text-contrast);
  border-radius: 12px;
  overflow: hidden;
}

.callToActionBanner .content {
  margin-bottom: 0;
  padding: 30px 2rem;
  margin: 0 auto;
  line-height: 1.5em;
  width: 100%;
}
.callToActionBanner .content h1 {
  color: var(--primary-dark);
}
.callToActionBanner .content h2 {
  margin: 0.5em 0;
  color: var(--secondary-dark);
}
.callToActionBanner .content div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.contact {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;

  grid-gap: 0;
  column-gap: 2rem;

  font-style: inherit;
  font-size: 12px;
}
.contact ul {
  padding: 0;
  list-style: none;
  margin: 5px 0;
  margin: 0;
}

.contact ul li,
.contact ul li a {
  height: min-content;
  display: flex;
  border-radius: 0;
  list-style: none;
  margin: 1.5rem 0;
  height: 1rem;
  align-items: center;
  gap: 0.5rem;
}

.contact ul li p,
.contact ul li time {
  background: var(--secondary-main);
  padding: 0 6px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.contact ul li:hover,
.contact ul li a:focus {
  outline-offset: 3px;
  outline-color: var(--secondary-light);
}
.bannerIllustration {
  width: 320px;
  margin: 0 auto;
}
.bannerIllustration svg {
  width: 100%;
}

@media (min-width: 600px) {
  .bannerContainer {
    padding: 0 60px;
    max-width: 1250px;
    min-height: calc(100vh - 80px);
  }
  .callToActionBanner .wrapper {
    justify-content: start;
  }

  .callToActionBanner .wrapper .content {
    padding: 30px 60px;

    margin: 0;
  }

  .contact {
    font-size: 14px;
  }
  .bannerIllustration {
    margin-top: 2rem;
  }
}
