.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
