@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  padding: 0 1rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.spit-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.banner {
  margin: 4rem auto;
  padding: 2rem 0;
  width: inherit;

  border-radius: 12px;

  overflow: hidden;

}
.banner svg {
  position: relative;
  z-index: 10;
}


.banner__inner {
  margin: auto;
  padding: 1rem;
  line-height: 1.5em;
  width: 100%;
  max-width: 600px;
}
.banner__title {
  color: var(--primary-main);
  margin-bottom: 0.5em;
}

.banner__contact {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  grid-gap: 0;

  font-style: inherit;
  font-size: 12px;
}
.socials-section{
  transform: translateX(1000px);
}
.socials-section--visible{
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.banner__contact-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
  margin: 0;
  margin-top: 1rem;
  gap: 2rem;
}

.banner__contact-list-item,
.banner__contact-link {
  height: min-content;
  display: flex;
  border-radius: 0;
  list-style: none;

  height: 1rem;
  align-items: center;
  gap: 0.5rem;

}
.banner__contact-link{
  border: 1px solid var(--high-contrast-color);
    padding:1.3rem 0.6rem 1.3rem 0.5rem ;
    border-radius: 4px;
}
.banner__contact-link:hover,.banner__contact-link:focus-within{
opacity: 0.8;
}
.banner__contact-list-item p {
  position: relative;



  font-weight: 600;
}

.banner__contact-list-item:hover,
.banner__contact-list-item a:focus-visible {
  outline: none;

}

.banner__illustration {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.banner__illustration svg {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  transition: all 0.5s ease;
}

@media (min-width: 600px) {
  .banner {
    padding: 30px 60px;
    max-width: 1250px;
  }

  .banner__contact {
    font-size: 14px;
  }
  .banner__contact-list {
    margin: 0;
  }
  .banner__illustration {
    margin: 2rem 0;
  }
}
@media (min-width: 900px) {
  .banner {
    margin: 2rem auto;
    
  }
}
@media (min-width: 1000px) {
  .banner {
    display: flex;
    gap: 2rem;
  }
  .banner > div {
    width: 100%;
  }
  .banner__illustration svg {
    margin: 0;
        width: 75%;
  }
}
