.panel {
  margin: 40px 0;
  display: grid;
  width: 100%;
  justify-items: center;

  grid-gap: 1rem;

  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));;
}

