.panel {
  margin: 40px 0;
  display: grid;
  width: 100%;
  justify-items: center;

  grid-gap: 1rem;

  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .panel {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .panel {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
