@font-face {
  font-family: "Roboto";
  src: local("sans-serif"), url("/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("sans-serif"), url("/fonts/Roboto/Roboto-Black.ttf");
  font-style: bolder;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "IM Fell Double Pica";
  src: local("serif"),
    url("/fonts/IM_Fell_Double_Pica/IMFellDoublePica-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --low-contrast-color: hsl(0, 0%, 94%);

  --high-contrast-color: hsl(0, 0%, 85%);
  --font-color: #2f2e41;
  --background-color: #f4f4f4;
  --primary-main: #c78989;
  --primary-dark: #a0616a;
  --primary-light: #cc9798;
  --primary-90: hsl(0deg 36% 66% / 90%);
  --secondary-main: #3f3d56;
  --secondary-dark: #2f2e41;
  --secondary-light: #726e9e;
  --secondary-extra-light: #e7e4ec;
  --light-gray: #f4f4f4;
  --border-radius: 12px;
  --box-shadow--primary: 0px 0px 5px 0px hsl(0deg 36% 66% / 50%);
  --bg-gradient: linear-gradient(180deg, #ebeaee 0%, #e9dcdd 100%);
}
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #202020;
  --link-color: lightblue;
  --low-contrast-color: #333;
  --high-contrast-color: #404040;
}
* {
  box-sizing: border-box;
  color: var(--secondary-dark);
}

html,
body {
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
  font-size: 14px;
  position: relative;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  font-display: swap;
  background-color: var(--background-color);
}
.main {
  margin: 1rem auto 0;
  position: relative;
  max-width: 1410px;
  overflow: auto;
}
.full-height {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noScroll {
  overflow: hidden;
}

p,
a,
b {
  text-decoration: none;
}
a:focus button {
  outline: transparent;
  outline-offset: 3px;
}

h1,
.title1 {
  font-size: 35px;
  font-weight: 800;
  margin: 0;
  line-height: 1.1em;
}
h2,
.title2 {
  font-size: 30px;
  font-family: "IM Fell Double Pica", serif;

  margin: 0;
  color: var(--primary-dark);
}
h3,
.title3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5em;
  font-family: "IM Fell Double Pica", serif;
}
h4,
.title4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  font-family: "IM Fell Double Pica", serif;
}

* {
  box-sizing: border-box;
  color: var(--font-color);
  scrollbar-width: thin;


}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);

  height: 50px;
  cursor: default;
  border: 1px solid transparent;
}

@media (min-width: 770px) {
  *::-webkit-scrollbar {
    display: block;
  }
}

.container {
  scroll-margin-top: 100px;
  padding: 4rem 1rem;
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  overflow: hidden;
}
@media (min-width: 600px) {
  .main {
    font-size: 16px;
    margin: 0 auto 0;
  }
  .container {
    padding: 4rem;
  }

  h1,
  .title1 {
    font-size: 45px;
  }
  h2,
  .title2 {
    font-size: 38px;
  }
  h3,
  .title3 {
    font-size: 25px;
  }
  h4,
  .title4 {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 2rem 4rem;
  }
}
