
@keyframes scale {
  0%{
    transform: scale(0);
  }
    100%{
    transform: scale(1);
  }
}
.section {
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  overflow: visible;
  margin-bottom: 0;
  gap:2rem;
  min-height: calc(100vh - 30px);

}
.section__illustration-container {
  margin: auto;
}

.section__content {
  position: relative;
  z-index: 10;
padding: 1rem;

align-self: center;
}
.section__title {
  margin-bottom: 0.5em;
}
.section__title span {
  font-size: 24px;

  text-transform: capitalize;

  color: var(--primary-main);
}

.section__text {
  margin: 0.7em 0 2rem;
  line-height: 1.7em;
  opacity: 0.9;
  font-size: 16px;
}
.section__content a:active:active,
.section__content a:focus {
  outline: 2px solid var(--font-color);
  outline-offset: 3px;
  border-radius: 8px;
}


.avatar{
  position: relative;
  border-radius: 50%;
  border: 2px dotted var(--high-contrast-color);
      width: 200px;
  aspect-ratio: 1;
}
.avatar img{
  object-fit: cover;
  animation: scale 1s  ease-in-out;

}
@media (min-width: 600px) {
  .section__title span {
    font-size: 35px;
  }
   .section__title  {
    font-size: 55px;
  }
    .avatar {
  width: 300px;
  aspect-ratio: 1;
}
}

@media (min-width: 900px) {
  .section__content {
    max-width: 670px;
    margin-top: 3rem;
  }
  .section {
    flex-direction: row;
    align-items: flex-end;
  }
  .section__text {
    font-size: 18px;
  }

}
