@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  overflow: visible;
  margin-bottom: 0;
  gap:2rem;
  min-height: calc(100vh - 40px);

}
.section__illustration-container {
  margin: auto;
}

.section__content {
  position: relative;
  z-index: 10;
padding: 0 1rem;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
align-self: center;
}
.section__title {
  margin-bottom: 0.5em;
}
.section__title span {
  font-size: 24px;

  text-transform: capitalize;
  font-family: "IM Fell Double Pica", serif;
  color: var(--primary-dark);
}

.section__text {
  margin: 0.7em 0;
  line-height: 1.7em;
  opacity: 0.9;
  font-size: 16px;
}
.section__content a:active:active,
.section__content a:focus {
  outline: 2px solid var(--font-color);
  outline-offset: 3px;
  border-radius: 8px;
}

.section__illustration-container  {
  animation: float 6s ease-in-out infinite;
}
.avatar{
  border-radius: 50%;
  border: 2px dotted var(--high-contrast-color);
}
.avatar img{
  object-fit: cover;
}
@media (min-width: 600px) {
  .section__title span {
    font-size: 35px;
  }
   .section__title  {
    font-size: 55px;
  }
}

@media (min-width: 900px) {
  .section__content {
    max-width: 670px;
    margin-top: -2rem;
  }
  .section {
    flex-direction: row;
    align-items: flex-end;
  }
  .section__text {
    font-size: 18px;
  }
}
