.main {
  min-height: 100vh;
  position: relative;
  max-width: 1410px;
  overflow: hidden;
  margin: 0 auto;
  color: var(--secondary-dark);
}

.container {
  padding: 16px 20px;
  padding-bottom: 40px;
  position: relative;
  margin: 0 auto;

  overflow: visible;
}
.fluid {
  min-width: 100%;
}
.relative {
  position: relative;
}
.menuBtn {
  top: 16px;
  right: 16px;
  width: 26px;
  height: 34px;
  margin-left: auto;
  width: fit-content;
  z-index: 50;
  position: fixed;
}
.menuBtn button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: transparent;
  z-index: 10;
  cursor: pointer;
}
.menuBtn button:focus {
  outline-offset: 0.5rem;
  outline-color: var(--secondary-light);
}

.mainSectionContent {
  padding-top: 40px;

  position: relative;
  z-index: 10;
}
.mainSectionContent h1 span {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
  font-family: "IM Fell Double Pica", serif;
  color: var(--primary-dark);
}

.mainSectionContent .mainSectionText p {
  margin: 20px 0;
  max-width: 600px;
  line-height: 1.5em;
}
.mainSectionContent .mainSectionText p:last-child {
  margin-bottom: 20px;
}
.personalInfoWrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.personalInfoWrapper ul {
  padding: 0;
  list-style: none;
  margin: 5px 0;

  padding-right: 10px;
}
.personalInfoWrapper ul li span {
  width: 25px;
  height: 25px;
}
.personalInfoWrapper ul li,
.personalInfoWrapper ul li a {
  height: min-content;
  display: flex;

  list-style: none;
  margin: 1.5rem 0;
  height: 1rem;
  align-items: center;
  gap: 1rem;
}

.personalInfoWrapper ul li p,
.personalInfoWrapper ul li time {
  opacity: 0.1;
  background: var(--secondary-main);
  padding: 0 6px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.personalInfoWrapper ul li:hover p,
.personalInfoWrapper ul li:hover time,
.personalInfoWrapper ul li a:focus,
.personalInfoWrapper ul li a:focus time,
.personalInfoWrapper ul li a:focus p {
  opacity: 1;
  outline-offset: 3px;
  outline-color: var(--secondary-light);
}

.welcomeIllustration {
  width: 100%;
  position: absolute;
  height: 600px;
  max-width: 1029px;
  max-height: 872px;
  right: 0;
  top: 0;
  z-index: -10;

  margin-top: 400px;
}

.techsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 0;
  margin-top: 50px;

  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.techsContainer figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin: 0;
  padding-top: 1rem;
  height: min-content;
  text-align: center;
  justify-content: center;
}
.techsContainer figure figcaption {
  margin: 1rem auto;
  font-size: 14px;
  font-weight: 600;
}
.techsContainer a:focus-within {
  outline-color: var(--secondary-light);

  outline-offset: 3px;
}

.techsContainer figure:hover .techImage,
.techsContainer a:focus figure .techImage {
  transform: scale(1.15);
}
.techImage {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.projectsContainer {
  margin: 50px 0;
  display: grid;
  width: 100%;
  justify-items: center;
  background: var(--secondary-light);

  gap: 4px;
  border: 4px solid var(--secondary-light);
  border-bottom: 0;
  grid-template-columns: 1fr;
}

.strengthsSectionWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.strengthsSectionWrapper div {
  width: 100%;
}
.strengthsSectionWrapper:nth-child(2) {
  margin: 30px 0;
}
.educationSectionContent {
  padding-bottom: 0;
}
.educationSectionContent,
.skillsSection {
  max-width: 550px;
  line-height: 1.5em;
}
.skillsSection h2 {
  margin-bottom: 0.8em;
}
.educationSectionContent h2 {
  font-weight: 800;
  color: unset;

  margin: 0.5rem 0 1em;
}

.skillsSection ul {
  padding: 1rem 0;
  padding-right: 0;
  display: flex;
  gap: 1rem;

  flex-direction: column;
}

.skillsSection ul li {
  position: relative;
  margin-left: 1.5rem;
  line-height: 1.5rem;
}

.skillsSection ul li:before {
  content: "✓";
  font-size: 12px;
  position: absolute;
  font-weight: 800;
  background: var(--light-text-contrast);
  color: var(--primary-dark);
  left: -25px;
  transform: scale(0.8);

  border-radius: 50%;
  padding: 2px 6px;
}

.softSkillsIllustrationSection,
.techSkillsIllustrationSection {
  flex: 1;
  z-index: -20;
}
.planningllustration {
  overflow: visible;
  width: 100%;
  height: 400px;
  z-index: -10;

  margin-bottom: -50px;

  position: relative;
  transform: scale(1.3);
  z-index: -20;
}

.planningllustration [alt="planning illustration"] {
  transform: scale(1.3);
}
.planningllustration span {
  overflow: visible !important;
}
.techSkillsIllustrationSection {
  margin-bottom: -50px;
}
.programingIllustration {
  width: 300px;
  height: 400px;
  position: relative;
  z-index: -10;
  margin: auto;
  transform: scale(1.3);
}
.callToActionBanner {
  width: 90%;
  margin: 10px auto 20px;
  background: var(--light-text-contrast);
  border-radius: 12px;
}
.callToActionBanner .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}
.bannerIllustration {
  position: relative;
  width: 320px;
  line-height: 1.5em;
  height: 300px;
}
.callToActionBanner .content {
  margin-bottom: 0;
  padding: 30px 16px;
  margin: 0 auto;
  line-height: 1.5em;
}

.callToActionBanner button {
  padding: 10px 16px;
  font-weight: 600;
  margin-top: 1rem;
}
@media (max-width: 600px) {
  .personalInfoWrapper ul li,
  .personalInfoWrapper ul a {
    flex-direction: row-reverse;
  }
}

@media (min-width: 600px) {
  .main {
    font-size: 16px;
  }
  .main h1 {
    font-size: 55px;
  }
  .main h2 {
    font-size: 38px;
  }
  .mainSectionContent h1 span,
  .main h3 {
    font-size: 28px;
  }
  .main h4 {
    font-size: 18px;
  }
  .container {
    padding: 30px 60px;
    padding-bottom: 30px;
    max-width: 1250px;
  }
  .mainSectionContent {
    padding-top: 10px;
  }
  .welcomeIllustration {
    margin-right: -10%;
    margin-top: 350px;
  }
  .personalInfoWrapper {
    margin-bottom: 200px;
  }
  .callToActionBanner .wrapper {
    justify-content: start;
  }
  .personalInfoWrapper ul li p,
  .personalInfoWrapper ul li time {
    opacity: 1;
  }
  .callToActionBanner .wrapper .content {
    padding: 30px 60px;
    max-width: 700px;
    margin: 0;
  }

  .bannerIllustration span {
    transform: scale(1.3);
  }
  .educationSectionContent {
    padding-bottom: 30px;
  }
}
@media (min-width: 750px) {
  .projectsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .skillsSection {
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .personalInfoWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
  }
  .callToActionBanner {
    width: 85%;
  }
  .strengthsSectionWrapper {
    flex-direction: row;
    align-items: center;
  }
  .programingIllustration {
    transform: scale(1);
  }
  .planningllustration {
    margin-top: 100px;
    margin-bottom: 0;
  }
  .skillsSection {
    order: 2;
  }
  .techSkillsIllustrationSection {
    order: 1;
  }
}
@media (min-width: 1050px) {
  .educationSectionContent,
  .skillsSection {
    max-width: 600px;
  }
  .projectsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .welcomeIllustration {
    margin-top: 150px;
    margin-right: -15%;
  }
  .personalInfoWrapper {
    margin-bottom: 0;
  }
}
