.page {
  min-height: 100vh;
  position: relative;
  margin: 0 auto;

  background: var(--low-contrast-color);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.page__link {
  width: max-content;
  height: min-content;
  outline: 2px solid transparent;
  border-radius: 4px;
  outline-offset: 3px;
}
.page__link:focus {
  outline: 2px solid var(--font-color);
}
.page strong {
  color: var(--primary-main);
}
.page__title {
  margin-bottom: 1rem;
}
.page__illustration-container {
  width: 100vw;

  position: relative;
}
.page__illustration-container svg {
  width: 100%;
  max-width: 600px;
  margin: auto;
  height: auto;
}
.page__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  max-width: 600px;
}
.page__text {
  margin: 0;
}
.page__text--last {
  margin-bottom: 2rem;
}
.page__button {
  justify-self: center;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  background: var(--primary-main);
  border-color: var(--primary-main);
}
@media (min-width: 600px) {
  .page {
    font-size: 16px;
  }
  .page__title {
    font-size: 55px;
  }

  .page__button {
    font-size: 1.5rem;
    padding: 1rem 1.3rem;
  }
}
@media (min-width: 768px) {
  .page {
    flex-direction: row;
    justify-content: center;
  }
  .page__illustration-container {
    width: 50vw;
    margin: auto 0;
  }
  .page__content {
    margin: auto 0;
    height: 60vh;
    width: 50%;
    justify-content: center;
  }
}
