.container {
  padding-top: 0;
  padding-bottom: 3rem;
}
.breadcrumb {
  text-transform: capitalize;
  font-family: "IM Fell Double Pica", serif;
}
.breadcrumb + .breadcrumb:before,
.breadcrumb + .breadcrumb:before {
  padding: 8px;
  color: hsl(0, 0%, 0%);
  content: "/\00a0";
}

.breadcrumb__link {
  color: var(--primary-dark);
  text-decoration: none;
}

.breadcrumb__link:hover,
.breadcrumb__link:focus {
  text-decoration: underline;
  text-underline-offset: 1px;
  outline: none;
  font-weight: 600;
}

.carousel-container {
  width: 100%;
  margin: 10px 0;
  height: 400px;

  position: relative;
}

.page__title {
  text-transform: capitalize;

  margin-top: 1em;
}
.page__subtitle {
  margin: 1em 0 0.5rem;
  color: var(--secondary-dark);
}

.label {
  font-weight: 600;
  font-family: "IM Fell Double Pica", serif;
  margin-right: 5px;
}
.credentials {
  width: 100%;
  border-radius: 12px;
  background: var(--light-gray);
  padding: 0.1rem 1.5rem;
}

.credentials__item {
  align-items: center;
  display: flex;
}
.project-links {
  width: 100%;
  display: flex;

  align-self: end;
  display: flex;
  height: min-content;
  gap: 10px;

  border-radius: 12px;
  background: var(--light-gray);
  padding: 1rem 1.5rem;
}
.project-links__link {
  display: flex;
  align-items: center;

  margin: 0;
  border-radius: 4px;
  padding-right: 5px;
  font-size: 12px;
  margin: 0;
  color: var(--primary-dark);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 2px;
  font-weight: 600;
}
.project-links__link svg {
  margin-right: 2px;
}
.tech-ist__legend {
  width: 60px;
}

.project-links__link:focus {
  outline-color: var(--secondary-light);
  outline-offset: 3px;
}

.featuresList {
  list-style: "revert";
  padding: 0;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  list-style: revert;
  line-height: 2em;
}

.tech-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.tech-list__chip {
  text-transform: capitalize;
  padding: 2px 6px;
  background: var(--primary-dark);
  color: #fff;

  font-size: 12px;
  border-radius: 2px;
}
@media (min-width: 600px) {
  .carousel-container {
    margin: 20px 0;
  }

  .tech-ist__legend {
    width: 70px;
  }
  .project-links__link,
  .tech-list__chip {
    font-size: 14px;
  }
}
@media (min-width: 900px) {
  .featuresList {
    column-count: 2;
    column-gap: 20px;
  }
  .carousel-container {
    height: 500px;
  }
}
