.container {
  padding-top: 0;
}
.breadcrumbBar span {
  text-transform: capitalize;
  font-family: "IM Fell Double Pica", serif;
}
.breadcrumbBar span + span:before,
.breadcrumbBar span + span:before {
  padding: 8px;
  color: hsl(0, 0%, 0%);
  content: "/\00a0";
}

.breadcrumbBar span a {
  color: var(--primary-dark);
  text-decoration: none;
}

.breadcrumbBar span a:hover,
.breadcrumbBar span a:focus {
  text-decoration: underline;
  outline: none;
}

.carouselWrapper {
  width: 100%;
  margin: 10px 0;
  height: 400px;

  position: relative;
}

.main h1 {
  text-transform: capitalize;

  margin-top: 0.5em;
}
.main h2 {
  margin: 1em 0 0.5rem;
  color: var(--secondary-dark);
}

.container b {
  text-decoration: underline;
  text-underline-offset: 1px;
  font-weight: 600;
}
.userBlock {
  width: max-content;
  border-radius: 12px;
  background: var(--light-gray);
  padding: 0.1rem 1.5rem;
  margin-top: 1.5rem;
}
.userBlock b {
  margin-right: 5px;
  white-space: pre;
  color: var(--primary-dark);
  text-decoration: none;
}
.userBlock p {
  align-items: center;
  display: flex;
}
.linksBlock {
  display: flex;
  margin-top: 1.5rem;
  align-self: end;
  display: flex;
  height: min-content;
  gap: 10px;
}
.linksBlock a {
  display: flex;
  align-items: center;
  background: var(--primary-dark);
  border: 10px;
  margin: 0;
  border-radius: 4px;
  padding: 6px 10px 6px 6px;

  opacity: 0.95;
  font-size: 12px;
  margin: 0;
  color: #fff;
}
.linksBlock a svg {
  margin-right: 2px;
}
.techList b {
  width: 60px;
  font-family: "IM Fell Double Pica", serif;
}
.linksBlock a:hover,
.linksBlock a:focus {
  opacity: 1;
}
.linksBlock a:focus {
  outline-color: var(--secondary-light);
  outline-offset: 3px;
}

.featuresList {
  list-style: "revert";
  padding: 0;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  list-style: revert;
  line-height: 2em;
}

.techList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.techList span {
  text-transform: capitalize;
  padding: 2px 6px;
  background: var(--primary-dark);
  color: #fff;

  font-size: 12px;
  border-radius: 2px;
}
@media (min-width: 600px) {
  .carouselWrapper {
    margin: 20px 0;
  }

  .techList b {
    width: 70px;
  }
  .linksBlock a,
  .techList span {
    font-size: 14px;
  }
}
@media (min-width: 900px) {
  .featuresList {
    column-count: 2;
    column-gap: 20px;
  }
  .carouselWrapper {
    height: 500px;
  }
}
